@use 'variables' as vars;
@use 'mixins' as mix;

.beige_wavycard {
  background-image: url('/card_bg/featurecard-beige.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.turmeric_wavycard {
  background-image: url('/card_bg/yellow-wavyborder-card.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  width: 100%;
  position: relative;

  > div {
    position: relative;
    z-index: 1;
  }
}

.turmeric_featurecard {
  background-image: url('/card_bg/featurecard-bg-turmeric.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  width: 100%;
  position: relative;

  > div {
    position: relative;
    z-index: 1;
  }
  
  @media (max-width: vars.$mobile) {
    background-image: url('/card_bg/featurecard-bg-turmeric-mobile.svg');
  }
}

.forest_featurecard {
  background-image: url('/card_bg/featurecard-bg-forest.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  width: 100%;
  position: relative;

  > div {
    position: relative;
    z-index: 1;
  }
  
  @media (max-width: vars.$mobile) {
    background-image: url('/card_bg/featurecard-bg-forest.svg');
  }
}