@font-face {
  src: url('/fonts/Roslindale-DisplayNarrowSemiBold-Testing.woff2') format("woff2"),
    url('/fonts/Roslindale-DisplayNarrowSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale Display Narrow Semibold';
  font-style: normal;
  font-weight: 600;
}

@font-face {
    src: url('/fonts/SchibstedGrotesk-Regular.woff2') format("woff2"),
        url('/fonts/SchibstedGrotesk-Regular.woff') format("woff");
    font-family: 'Schibsted Grotesk Regular';
    font-style: normal;
    font-weight: normal;
}

@font-face {
    src: url('/fonts/SchibstedGrotesk-Bold.woff2') format("woff2"),
        url('/fonts/SchibstedGrotesk-Bold.woff') format("woff");
    font-family: 'Schibsted Grotesk Bold';
    font-style: normal;
    font-weight: bold;
}

@font-face {
    src: url('/fonts/SchibstedGrotesk-Italic.woff2') format("woff2"),
        url('/fonts/SchibstedGrotesk-Italic.woff') format("woff");
    font-family: 'Schibsted Grotesk Italic';
    font-style: italic;
    font-weight: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'reset';
@import 'variables';
@import 'mixins';

body {
  font-family: $font-body;
  color: $text-dark;
  background-color: $color-background;
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
  color: $color-body-text;
  margin-bottom: $spacing-md;
  font-weight: 700;
  /* Enable stylistic set for Roslindale */
  font-feature-settings: 'ss05' on;
}

h1 {
  font-size: $font-size-5xl;
}

h2 {
  font-size: $font-size-4xl;
}

h3 {
  font-size: $font-size-3xl;
}

h4 {
  font-size: $font-size-2xl;
}

h5 {
  font-family: $font-subheading;
  color: $color-body-text;
  margin-bottom: $spacing-sm;
  font-size: $font-size-xl;
}

// Utility classes
.container {
  @include container;
}

.text-center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.bg-background {
  background-color: $color-background;
}

.bg-sky {
  background-color: $color-sky;
}
.bg-forest {
  background-color: $color-forest;
}
.bg-turmeric {
  background-color: $color-turmeric;
}
.bg-rose {
  background-color: $color-rose;
}

.page_column_layout {
    /* Using 12 column layout */
    @apply grid grid-cols-6 md:grid-cols-8 lg:grid-cols-12;
}

.frame_layout {
    /* Corresponds to each frame in the Figma doc */
    @apply flex flex-col gap-[2.5rem] lg:gap-[5rem] py-[1.25rem] lg:py-[2.5rem];
}

// Header Component styles
.site-header {
  @apply w-full px-[1.25rem] py-[1.25rem] lg:px-[5rem] lg:py-[2.5rem];
}
.site-header-content {
  @apply flex flex-col gap-2 lg:gap-4 mx-0;
  .site-header-toprow {
    @apply flex justify-end;
  }
  .site-header-bottomrow {
    @apply flex justify-between items-center;
  }
  .language-selector {
    background-color: $color-background;
    font-family: $font-body;
    font-size: $font-size-sm;
    padding: 0.5rem;
    cursor: pointer;
  }

  .search-icon {
    @apply flex items-center justify-center w-[3rem] h-[3rem] rounded-full border-[1.5px] p-[0.5rem] border-black;

  }
}

button.pill-button {
    font-family: $font-body;
    font-size: $font-size-sm;
    text-transform: capitalize;
    border: 1px solid $color-body-text;
    border-radius: 50px;
    padding-inline: calc($spacing-lg);
    padding-block: calc($spacing-lg/2);
    width: fit-content;
    text-transform: capitalize;

    &:hover {
        @media (hover: hover) {
            cursor: pointer;
        }
    }

    &.bold {
        font-weight: 700;
    }

    &.dark {
        background-color: $color-body-text;
        color: white;

        &:hover {
            @media (hover: hover) {
                opacity: 85%;
            }
        }
    }
}

.dropdown-container {
    button {
      @apply flex items-start gap-1 lg:gap-1 text-base font-normal leading-[1.35] hover:opacity-80 transition-opacity  max-w-[150px] text-left;
      color: $color-body-text;
    }
}

.dropdown-menu {
    @apply absolute top-full left-1/2 transform -translate-x-1/2 mt-1 bg-background px-4 py-3 z-50 transition-all duration-300;
    border: 1px solid $color-body-text-light;
    border-radius: $radius-lg;
    box-shadow: $shadow-lg;
    min-width: max-content;
}

.dropdown-menu-item {
  @apply block px-2 py-2 text-sm text-gray-800 leading-tight whitespace-nowrap;
  margin-inline: calc($spacing-xs);
  padding-inline: 1rem;
  padding-block: 0.65rem;
  text-align: center;
  &:hover {
    border-radius: $radius-xl;
    @media (hover: hover) {
      cursor: pointer;
    }
  }
  &.sky {
    &:hover {
      background-color: $color-sky;
    }
  }
  &.rose {
    &:hover {
      background-color: $color-rose;
    }
  }
  &.forest {
    &:hover {
      background-color: $color-forest;
    }
  }
  &.turmeric {
    &:hover {
      background-color: $color-turmeric;
    }
  }
}

.search-bar {
  position: absolute; 
  top: 13rem; 
  left: 2rem;
  width: calc(100% - 5rem);
  background-color: $color-background;
  border: 1px solid $color-body-text;
  padding: $spacing-md;
  border-radius: $radius-md;
  box-shadow: $shadow-lg;
  z-index: 1000;

  input {
    padding: 5px;
    width: 100%;
  }
}
