@use 'variables' as vars;
@use 'mixins' as mix;

.hero-banner {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;

  &.short {
    height: 70vh;
  }
}

.hero-container {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: fit-content;

  & > *:last-child {
    margin-top: 2rem;
  }
  
  .hero-content {
    @include mix.flex-center;
    @include mix.flex-column;
    gap: 0.75rem;
    width: 85%;
    margin: 0 auto;
    margin-bottom: vars.$spacing-sm;
    text-align: center;
    z-index: 5;
    @media (min-width: vars.$tablet) {
      // margin: 0 auto;
      width: 32%;
    }

    &.full-width {
      @media (min-width: vars.$tablet) {
        width: 100%;
      }
    }
  }

  .hero-buttons,
  .hero-contact {
    @include mix.flex-center;
    gap: 1.5rem;
  }

  .hero-contact {
    margin-top: 0.5rem;
  }

  .hero-mascot {
    max-width: 15rem;
    height: auto;
  }

}

